{% extends "base.html" %}

{% block content %}
    <form action="/submit_university_form_htmx/" method="post">
        {% csrf_token %}
        <select class="custom-select mb-4" name="course" hx-get="{% url 'htmx_modules' %}" hx-trigger="change" hx-target="#modules">
            <option selected value="null">Open this select menu</option>
            {% for course in courses %}
                <option value="{{course.pk}}"> {{ course.name }}</option>
            {% endfor %}
        </select>
        
        <div id="modules">
        </div>
        <button type="submit">Submit</button>
    </form>
{% endblock %}