{% if modules %}
<select class="custom-select mb-4" name="module">
    <option value="null" selected>Open this select menu</option>
    {% for module in modules %}
        <option value="{{module.pk}}">{{ module.name }}</option>
    {% endfor %}
</select>
{% endif %}